
<div class="container">
    <div class="form">
      <span class="form_title">Admin panel</span>
      <form action="/usersInfo">
        <div class="form__input">
          <i class="ri-user-line"></i>
          <input id="name" type="text" name="name" placeholder="Имя "> <span class="bar"></span>
        </div>
        <div class="form__input">
          <i class="ri-mail-line"></i>
          <input id="surname" type="text" name="surname" placeholder="Фамилия">
          <span class="bar"></span>
        </div>
        <input id="btn-add" type="submit" class="form__button">Add product</input> 
        <span class="form_switch">
        <a href="/users"> Вывести всех пользователей </a>
        </span>
      </form>

